
  body,h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif;
    
}
    
.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.navbar-brand {
  text-align: center; 
  color: white;
}

#divConnexion{
width:30%; 
position:absolute; 
top:20%; 
left:40%;
display:none;
}

#divEnreg  {
  width:30%; 
  position:absolute; 
  top:20%; 
  left:40%;
  text-align:center;
  background-size: 100% 100%; 
  padding-top: 0.5px; 
  padding-bottom: 0.5px; 
  margin-top: 50px; 
  margin-bottom: 50px;
  color: #808080; 
  border-radius: 25px;
  display:none;
}

footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
}


#CardGroup {
  background-color: black;
}